@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 300;
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 400;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 600;
  src: url(../fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 700;
  src: url(../fonts/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 900;
  src: url(../fonts/SourceSansPro-Black.ttf);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

:root{
  --accent-color: #006DFF; 
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Source-Sans-Pro';
  font-weight: 600;
  font-size: 20px;
  overflow-x: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  color: #FFFFFF;
  background-color: #FFC000;
  cursor: pointer;
  border-radius: 38px;
  transition: all 0.3s;
}
.button:hover {
  opacity: 80%;
}

.title {
  font-weight: 900;
  font-size: 130px;
  line-height: 105.2%;
  font-variant: small-caps;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

/* header */
.header {
  padding: 18px 0; 
  margin-bottom: 135px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__decor {
  position: absolute;
  left: -8px;
  z-index: -2;
  top: 0;
  width: 74%;
}
.header__tel {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.header__mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 35px;
}
.logo__text {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  min-width: 245px;
}

/* menu */
.menu__list {
  display: flex;
  align-items: center; 
}
.menu__list-link {
  font-weight: 600;
  padding: 15px;
  font-size: 14px;
  line-height: 100%;
  white-space: nowrap;
  color: #FFFFFF;
  border-radius: 10px;
}
.menu__list-link:hover {
  background: rgba(255, 255, 255, 0.17);
}
.menu__list-link--color {
  color: var(--accent-color);
}

/* top */
.top {
  position: relative;
  margin-bottom: 131px;
}
.top__title {
  font-weight: 600;
  font-size: 67px;
  line-height: 105.2%;
  color: #FFFFFF;
  max-width: 690px;
  margin-bottom: 30px;
}
.top__title span {
  color: #FFC000;
}
.top__img {
  position: absolute;
  top: -120px;
  right: -35px;
  z-index: -1;
}
.top__btn {
  padding: 12px 24px;
  font-weight: 900;
  font-size: 31px;
  line-height: 39px;
}

/* services */
.services {
  margin-bottom: 38px;
}
.services__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 23px;
  row-gap: 40px;
}
.services__item--long {
  grid-column-start: 1;
  grid-column-end: 4;
}
.services__item--long2 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.services__item {
  background: #FFFFFF;
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36px;
  padding-top: 34px;
  position: relative;
  padding-left: 29px;
  height: 446px;
  overflow: hidden;
  z-index: 0;
}
.services__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 105.2%;
  margin-bottom: 13px;
}
.services__btn{
  padding: 14px 32px;
  display: inline-block;
  z-index: 2;
}
.services__img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.services__img--long {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: auto;
  right: 0;
  bottom: 0;
}


/* intro */
.intro {
  margin-bottom: 165px;
}
.intro__bg {
  background-color: var(--accent-color);
  border-radius: 36px;
  padding: 36px 29px;
  position: relative;
}
.intro__title {
  font-weight: 900;
  font-size: 49px;
  line-height: 105.2%;
  color: #FFFFFF;
  max-width: 398px;
}
.intro__title--big {
  font-size: 595px;
  letter-spacing: -0.04em;
  max-width: 1000px;
}
.intro__top {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  margin-top: -130px;
  margin-bottom: 260px;
}
.intro__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 258px 258px;
  gap: 25px;
}
.intro__item {
  background-color: #fff;
  box-shadow: 0px 0px 34.0254px rgba(47, 128, 237, 0.15);
  border-radius: 36px;
  padding: 36px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.intro__item-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.intro__item-text {
  max-width: 270px;
  font-weight: 600;
  font-size: 20px;
  max-width: 624px;
}
.intro__item--long {
  grid-column-start: 1;
  grid-column-end: 3;
}
.intro__decor {
  position: absolute;
  top: 250px;
  left: 168px;
}

/* price */
.price {
  margin-bottom: 144px;
}
.price__title {
  margin-bottom: 35px;
}
.price__items {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 450px 450px;
  gap: 24px;
}
.price__item {
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36px;
  padding: 34px 29px;
  position: relative;
  overflow: hidden;
}
.price__img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.price__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 105.2%;
  margin-bottom: 23px;
}
.price__btn {
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  background-color: var(--accent-color);
  padding: 14px 33px;
}
.price__item--next {
  background: rgba(0, 109, 255, 0.15);
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36.55px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  justify-content: center;
}
.price__item-text {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 22px;
  line-height: 105.2%;
  padding: 30px;
  position: relative;
}
.price__item-text::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 2px;
  top: 66px;
  right: 53px;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: var(--accent-color);
}
.price__item-next:hover, .price__item-text:hover {
  opacity: 80%;
}


/* edge */
.edge {
  margin-bottom: 170px;
}
.edge__title {
  font-size: 130px;
  line-height: 105.2%;
}
.edge__title--small {
  font-size: 80px;
  line-height: 105.2%;
  margin-bottom: 49px;
}
.edge__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 525px 525px;
  gap: 22px;
}
.edge__item {
  box-shadow: 0px 0px 33.8897px rgba(47, 128, 237, 0.15);
  border-radius: 36.4314px;
  overflow: hidden;
  position: relative;
  padding: 45px;
}
.edge__item-img {
  position: absolute;
  right: 0;
  bottom: -10px;
}
.edge__item-title {
  font-size: 44.0566px;
  line-height: 90.2%;
  font-weight: 600;
  margin-bottom: 15px;
}


/* about */
.about {
  margin-bottom: 170px;
}
.about__title {
  margin-bottom: 49px;
}
.about__subtitle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.about__text {
  font-size: 23px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 400;
}
.about__title-list {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.about__list-item {
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 110%;
}
.about__list {
  margin-bottom: 40px;
}
.about__link {
  text-align: center;
  display: block;
  color: var(--accent-color);
  font-size: 22px;
}


/* doctors */
.doctors {
  margin-bottom: 224px;
}
.doctors__title {
  margin-bottom: 36px;
}
.doctors__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 445px 445px;
  gap: 49px 22px;
}
.doctors__item {
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36.55px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}
.doctors__item-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.doctors__item-content {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 33.7612px rgba(47, 128, 237, 0.15);
  border-radius: 36.2933px;
  padding: 31px 24px;
  z-index: 3;
  height: 260px;
}
.doctors__item-title {
  font-size: 27.009px;
  line-height: 90.2%;
  margin-bottom: 15px;
}
.doctors__list {
  padding-left: 30px;
}
.doctors__list-item {
  font-size: 17.7246px;
  line-height: 17px;
}
.doctors__item--show {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 25px;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 33.7612px rgba(47, 128, 237, 0.15);
  border-radius: 36.2933px;
}
.doctors__item-text {
  font-size: 27.009px;
  line-height: 90.2%;
  color: #fff;
}
.doctors__item-link {
  font-weight: 300;
  font-size: 27.009px;
  line-height: 90.2%;
  text-decoration-line: underline;
  color: #FFFFFF;
}


/* licenses */
.licenses {
  margin-bottom: 232px;
}
.licenses__title {
  margin-bottom: 58px;
}
.licenses__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 39px;
  
}
.licenses__item {
  background: #D2D2D2;
  width: 351px;
  height: 233px;
}

/* reviews */
.reviews {
  margin-bottom: 190px;
}
.reviews__title {
  font-size: 130px;
  line-height: 105.2%;
}
.reviews__title--small {
  font-size: 78px;
  line-height: 105.2%;
  margin-bottom: 49px;
}
.reviews__items {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 50px;
}
.reviews__item2 {
  align-self: center;
}
.reviews__item3 {
  align-self: flex-end;
}
.reviews__item-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 90.2%;
  margin-bottom: 16px;
}
.reviews__item-day {
  font-weight: 300;
  font-size: 22px;
  line-height: 90.2%;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 49px;
}
.reviews__item-text {
  font-weight: 400;
  font-size: 21.8528px;
  line-height: 120%;
  background: #006DFF;
  border-radius: 20.1718px 20.1718px 20.1718px 0px;
  padding: 16px 23px;
  color: #fff;
}
.reviews__item-text--1 {
  max-width: 650px;
}
.reviews__item-text--2 {
  background: #FFC100;
  color: #000;
  max-width: 729px;
}
.reviews__item-text--3 {
  max-width: 595px;
  padding-right: 60px;
}
.reviews__dog {
  position: absolute;
  right: 0;
  z-index: -2;
}
.reviews__cat {
  position: absolute;
  top: 320px;
  left: -120px;
}


/* form */
.consultation {
  margin-bottom: 180px;
}
.container__inner {
  background: #FFFFFF;
  box-shadow: 0px 0px 33.7864px rgba(47, 128, 237, 0.15);
  border-radius: 36.3204px;
  padding: 64px 40px 70px;
  position: relative;
  overflow: hidden ;
}
.consultation__title {
  font-weight: 900;
  font-size: 28.7184px;
  line-height: 105.2%;
  color: var(--accent-color);
  margin-bottom: 49px;
}
.form__input {
  display: block;
  filter: drop-shadow(0px 0px 33.7864px rgba(47, 128, 237, 0.15));
  background: #FFFFFF;
  border-radius: 5.06796px;
  border: none;
  margin-bottom: 10px;
  padding: 11px 13px;
  color: #4F4F4F;
  font-weight: 500;
  width: 398px;
  font-size: 11.8252px;
  line-height: 17px;
}
.form__btn {
  border: none;
  background-color: var(--accent-color);
  font-weight: 900;
  font-size: 16.8932px;
  line-height: 21px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 17px;
}
.consultation__text {
  font-weight: 400;
  font-size: 20.2718px;
  line-height: 105.2%;
  color: var(--accent-color);
}
.consultation__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 86%;
}
.consultation__img-2 {
  position: absolute;

  right: 0;
  bottom: -18px;
}

/* contacts */
.contacts__title {
  margin-bottom: 49px;
}
.contacts__top {
  font-weight: 900;
  font-size: 58px;
  line-height: 105.2%;
  color: #B0D2FF;
  margin-bottom: 49px;
} 
.contacts__bottom {
  font-weight: 900;
  font-size: 80px;
  line-height: 105.2%;
  color: #000000;
  display: block;
  margin-bottom: 49px;
}
.contacts__map {
  box-shadow: 0px 0px 33.9955px rgba(47, 128, 237, 0.15);
  border-radius: 36.5452px;
  margin-bottom: 68px;
}
.contacts__bottom--under {
  text-decoration: underline;
}

/* page services */
.price__items--services {
  grid-template-rows: repeat(4, 450px);
}
.price__items--vac {
  grid-template-rows: repeat(3, 450px);
}
.price__items--cast {
  grid-template-rows: repeat(2, 450px);
}
.cup__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 220px ;
  gap: 24px;
}
.cup__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 220px;
}
.cup {
  margin-bottom: 125px;
}
.cup__title {
  margin-bottom: 40px;
}
.chp__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.rit__small {
  font-size: 63px;
  line-height: 105.2%;
  margin-bottom: 38px;
}

.check-up {
  margin-bottom: 159px;
}
.check-up__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 220px;
}
.check-up__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.check-up__title {
  margin-bottom: 39px;
}
.check-up__item--long {
  grid-column-start: 2;
  grid-column-end: 5;
}
.check-up__item--big {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 343px;
}

.check-up__item--big2 {
  grid-column-start: 3;
  grid-column-end: 5;
  height: 343px;
}


.header__nav {
	position: absolute;
	right: 0;
	display: none;
	z-index: 3;
}
.header__menu {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.content__show{
  position: absolute;
	right: 0;
	display: none;
	z-index: 3;
}
.top__menu.open-menu3, .top__menu2.open-menu4{
  display: block;
}
.drop-2, .drop-3 {
  position: relative;
  z-index: 99;
}
.top__menu, .top__menu2 {
  display: none;
  position: absolute;
  top: 60px;
  position: absolute;
  background-color: #ffffff;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  top: 40px;
  padding-bottom: 19px;
  min-width: 220px;
  border-radius: 15px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.top__menu2 {
  left: -30px;
}
.top__menu.open-menu3, .top__menu2.open-menu4{
  display: block;
}
.top__img--ser {
  right: 290px;
  z-index: -1;
  top: -160px;
}
.top__text {
  font-weight: 400;
  font-size: 27px;
  line-height: 121.7%;
  color: #fff;
  max-width: 593px;
  margin-bottom: 55px;
}

.seo {
  margin-bottom: 106px;
}
.seo__title {
  font-size: 93px;
  margin-bottom: 70px;
}
.seo__inner {
  display: flex;
  align-items: center;
  gap: 2px;
}
.doctors__title-ser {
  text-transform: none;
  font-weight: 900;
  font-size: 80px;
  line-height: 105.2%;
}
.services--ser {
  margin-bottom: 134px;
}
.doctors__item {
  height: 445px;
}
.doctors--ser {
  margin-bottom: 123px;
}


/* conveniences */
.conveniences {
  margin-bottom: 114px;
}
.conveniences__title {
  font-size: 60px;
  margin-bottom: 74px;
}
.conveniences__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left: 60px;
}
.conveniences__list-item {
  font-weight: 600;
  font-size: 32px;
  line-height: 92.2%;
  list-style: none;
  position: relative;
}
.conveniences__list-item::after {
  content: "";
  position: absolute;
  left: -59px;
  width: 41px;
  height: 41px;
  top: -2px;
  padding-right: 59px;
  background-image: url(../img/list-img.png);
  background-repeat: no-repeat;
}
.edge__title--ser {
  font-size: 65px;
  margin-bottom: 69px;
}


/* seo-two */
.seo-two {
  margin-bottom: 98px;
}
.seo-two__text {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 17.7921px;
}
.seo-two__important {
  background: #FFFFFF;
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36.55px;
  padding: 30px 27px 32px;
  margin-bottom: 28px;
}
.seo-two__important-text, .seo-two__important-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 105.2%;
  color: var(--accent-color);
}
.seo-two__important-title {
  margin-bottom: 20px;
}
.consultation--ser {
  margin-bottom: 130px;
}













/* media */
@media(max-width: 1850px) {
  .header__decor {
    width: 75%;
    left: 0;
  }
}


@media(max-width: 1709px) {
  .header__decor {
    width: 77%;
  }
}
@media(max-width: 1640px) {
  .header__decor {
    width: 78%;
  }
}

@media(max-width: 1555px) {
  .header__decor {
    width: 79%;
  }
}



@media(max-width: 1500px) {
  .header__decor {
    width: 80%;
  }
  .top__img {
    right: -150px;
  }
}


@media(max-width: 1450px) {
  .header__decor {
    width: 81%;
  }
}

@media(max-width: 1400px) {
  .header__decor {
    width: 82%;
  }
}
@media(max-width: 1356px) {
  .header__decor {
    width: 83%;
  }
}


@media(max-width: 1300px) {
  .header__decor {
    width: 84%;
  }
  .top__img {
    right: -250px;
  }
  .title {
    font-size: 100px;
  }
}

@media(max-width: 1278px) {
  .header__decor {
    width: 85%;
  }
}
@media(max-width: 1227px) {
  .header__decor {
    width: 86%;
  }
}


@media(max-width: 1181px) {
  .header__decor {
    width: 78%;
  }
  .top__img {
    right: -250px;
  }
  .logo__text {
    display: none;
  }
  .price__item-text::after {
    display: none;
  }
  .header__info {
    display: flex;
    flex-direction: column;
  }
  .licenses__items {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
    
  }
  .consultation__img, .consultation__img-2 {
    display: none;

  }
  .container__inner {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media(max-width: 1100px) { 
  .services__title {
    font-size: 25px;
    max-width: 150px;
  }
  .reviews__cat, .reviews__dog {
    display: none;
  }
  .reviews__item2, .reviews__item3 {
    align-self: flex-start;
    z-index: 22;
  }
  .header__decor {
    width: 79%;
  }
}


@media(max-width: 900px) { 
  .services__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__item--long {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .header__decor {
    width: 100%;
  }
  .services__item--long2 {
    grid-column-start: 3;
    grid-column-end: 2;
  }
  .services__img--dog {
    left: 66px;
  }
  
  .services__img--rept {
    width: 80%;
  }
  .price__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 450px 450px 450px 450px;
  }
  .edge__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 400px 400px ;
  }
  .edge__item-title {
    font-size: 22px;
  }
  .edge__item-text {
    font-size: 18px;
  }
  .about__text {
    text-align: center;
  }
  .doctors__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 450px 450px 450px 450px;
  }
  .doctors__item-title {
    font-size: 20px;
  }
  .doctors__item--show {
    padding: 30px;
  }
  .doctors__item-link {
    font-size: 24px;
  }
  .doctors__item-text {
    font-size: 20px;
  }
  .title {
    font-size: 45px;
  }
  .edge__title--small {
    font-size: 35px;
  }
  .contacts__top {
    font-size: 30px;
    margin-bottom: 11px;
  }
  .contacts__bottom {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .contacts__map {
    margin-bottom: 20px;
  }
  .header__info, .menu {
    display: none;
  }
  .header {
    margin-bottom: 50px;
    padding: 26px 22px 0;
  }
  .header__nav.open-menu{
    left: 0;
  }

  .menu-burger__header {
    position: relative;
      width: 50px;
      height: 35px;
      display: block;
      margin-left: 10px;
      transition: all 0.5s;
    }
    .header__info--mb {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu--mb {
      display: block;

    }
  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    margin: 0 auto;
    transition: all 0.5s;
    border-radius: 3px;
  }
  .menu__list {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
  .header__nav {
    display: block;
    position: absolute;
    top: 87px;
    left: 0;
    background-color:  #006DFF;
    box-shadow: 0px 0px 34px rgba(227, 227, 227, 0.25);
    box-shadow: #ccc;
    width: 90%;
    transition: all 0.3s ease;
    left:-110%;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
    height: 340px;
    padding-top: 29px;
    z-index: 99999;
  }
  .menu-burger__header span{
    top: 16px;
  }
  .menu-burger__header:after, .menu-burger__header:before{
    content: '';
  }
  .menu-burger__header:after{
    bottom: 5px;
  }
  .menu-burger__header:before{
    top: 5px;
  }
  .menu-burger__header.open-menu span {
    opacity:0; 
    transition: 0.5s; 
  }
  .menu-burger__header.open-menu:before {
    transform: rotate(38deg);
      top: 16px;
      transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
      bottom: 16px;
      transition: 0.4s;
  }
  .header__nav2.open-menu2{
    left: 0;
  }
  .aside-mob {
    display: block;
    border: none;
  }


  .menu-burger__header2 {
    float: right;
    border: none;
    background-color: transparent;
    transition: all 0.3s;
    cursor: pointer;

  }

  .top__img {
    display: none;
  }
  .price__items--services {
    grid-template-rows: 450px 450px 450px 450px 450px 450px 450px 450px;
  }
  .price__items--cast {
    grid-template-rows: 450px 450px 450px;
  }
  .price__item {
    height: 450px;
  }
  
  .cup__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__img--long {
    left: 0;
    width: 100%;
  }
  .seo__inner {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .seo__title  {
    margin-bottom: 13px;
  }
  .seo__img {
    background: #FFFFFF;
    box-shadow: 0px 0px 16.9865px rgba(47, 128, 237, 0.15);
    border-radius: 18px;
  }
}







@media(max-width: 760px) {
  .licenses__item {
    max-width: 200px;
  }
  .header__decor {
    width: 100%;
  }
  .conveniences__list-item {
    font-size: 23px;
  }
} 

@media(max-width: 500px) {
  .form__input {
    width: 100%;
  }
  .top__title {
    font-size: 22px;
    text-align: center;
    max-width: 212px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
  .top__img {
    display: block;
    position: static;
    width: 100%;
    margin: -20px auto 25px;
  }
  .top__btn {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    font-size: 12px;
    padding: 8px;
    text-align: center;
  }
  .logo__img {
    width: 50px;
    height: 50px;
  }
  .services__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .services__btn  {
    font-size: 9px;
    padding: 7px 15px;
  }
  .services__item {
    height: 277px ;
    padding-top: 17px;
    padding-left: 14px;
    height: 220px;
    border-radius: 18.129px;
  }
  .services__items {
    grid-template-rows: 220px 220px 220px 220px;
    gap: 16px 14px;
  }
  .services__img {
    width: 70%;
  }
  .price__item-title {
    font-weight: 600;
    font-size: 12px;
    max-width: 100px;
    margin-bottom: 6px;
  }
  .price__btn {
    font-size: 12px;
    padding: 6px 15px;
  }
  .price__items {
    grid-template-rows: 220px 220px 220px 220px;
    gap: 16px 12px;
  }
  .price__item {
    padding: 17px 14px;
    border-radius: 18.129px;
  }
  .price__img {
    width: 65%;
  }
  .price__item-text {
    font-size: 12px;
  }
  .price__item-text::after {
    display: none;
  }
  .top {
    margin-bottom: 15px;
  }
  .intro__title {
    font-size: 11px;
  }
  .intro__title--big {
    font-size: 150px;
  }
  .intro {
    margin-left: 22px;
    margin-right: 22px;
  }
  .intro__decor{
    top: 70px;
    left: 0;
  }
  .intro__top {
    gap: 25px;
    margin-bottom: 75px;
    margin-top: -30px;
  }
  .intro__item {
    padding: 15px;
  }
  .intro__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 150px 150px;
    gap: 9px;
  }
  .intro__item--mb {
    grid-row-start: 2;
  }

  .intro__item-text {
    font-size: 12px;
    padding-left: 5px;
    z-index: 2;
  }
  .intro__item-img {
    z-index: -1;
    width: 70%;
  }
  .intro {
    margin-bottom: 73px;
  }
  .price, .edge, .doctors, .licenses, .reviews, .consultation, .check-up{
    margin-bottom: 62px;
  }
  .edge__item-text {
    font-size: 10px;
  }
  .edge__item {
    font-size: 14px;
    padding: 20px;
  }
  .intro__bg {
    padding: 9px 9px ;
  }

  .edge__items {
    grid-template-rows: 220px 220px 220px;
  }
  .edge__item-img {
    width: 60%;
  }
  .about {
    margin-bottom: 60px;
  }
  .doctors__item-title {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 8px;
  }
  .doctors__list-item {
    font-weight: 600;
    font-size: 9px;
    line-height: 8px;
    max-width: 96px;
  }
  .doctors__list {
    padding-left: 14px;
  }
  .doctors__items {
    grid-template-rows: 230px 230px 230px 230px;
    gap: 16px 9px;
  }
  .doctors__item {
    border-radius: 13.3649px;
    padding: 5px;
    height: 230px;
  }
  .doctors__item-content {
    max-height: 120px;
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 17.8418px;
  }
  .doctors__item-img {
    width: 86%;
  }
  .doctors__item-text {
    font-weight: 600;
    font-size: 13.2776px;

  }
  .doctors__item-link {
    font-size: 13px;
  }
  .doctors__item--show {
    padding: 12px;
  }
  .licenses__item {
    max-width: 128px;
    max-height: 75px;
  }
  .reviews__title--small {
    font-size: 18px;
  }
  .reviews__item-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .reviews__item-day {
    font-size: 12px;
    margin-bottom: 9px;
  }
  .reviews__item-text {
    font-size: 10px;
    padding: 12px;
  }
  .reviews__items {
    gap: 25px;
  }
  .consultation__title {
    font-size: 19px;
  }
  .consultation__text {
    font-size: 16px;
  }
  .form__btn {
    font-size: 14px;
  }
  .container__inner {
    padding: 30px 20px;
  }
  .services__title {
    max-width: 90px;
  }
  .price__item {
    height: 220px ;
    padding: 16px 14px;
  }
  .price__items--cast {
    grid-template-rows: 220px;
  }
  .cup__items, .chp__items {
    grid-template-rows: none;
    gap: 16px 10px;
  }
  .cup__item {
    height: 110px;
  }
  .price__item-title {
    font-size: 10.8914px
  }
  .price__btn {
    font-size: 9px;
  } 
  .cup__title {
    margin-bottom: 28px;
  }
  .cup {
    margin-bottom: 64px;
  }
  .chp__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    font-size: 28px;
  }
  .check-up__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 9px;
  }
  .check-up__item {
    height: 110px;
  }
  .check-up__item--big, .check-up__item--big2, .check-up__item--long  {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 189px;
  }
  .price__item-title--with {
    max-width: 206px;
  }
  .about__subtitle {
    font-size: 19px;
  }
  .about__link {
    font-size: 17px;
  }
  .top__title--ser {
    font-size: 22px;
    line-height: 113.7%;
    text-align: center;
    max-width: 400px;
    margin-bottom: 13px;
    margin-top: -17px;
  }
  .top__text--ser {
    font-weight: 400;
    font-size: 12px;
    line-height: 113.7%;
    max-width: 213px;
    margin: 0 auto;
    text-align: center;
  }
  .top__img {
    margin-top: -27px;
  }
  .top__img--ser {
    margin-top: -5px;
  }
  .top__btn--ser {
    margin-top: -100px;
    z-index: 22;
    background-color: #FFC000;
    position: relative;
  }
  .services--ser, .seo {
    margin-bottom: 58px;
  }
  .seo-two, .conveniences, .doctors--ser  {
    margin-bottom: 48px;
  }
  .licenses__item--none {
    display: none;
  }
  .licenses__title {
    margin-bottom: 28px;
  }
  .conveniences__list-item {
    font-size: 15px;
    line-height: 92.2%;
  }
  .conveniences__list-item::after {
    height: 21px;
    width: 21px;
    left: -30px;
    background-size: contain;
  }
  .conveniences__list {
    margin-left: 39px;
  }
  .conveniences__title  {
    margin-bottom: 21px;
  }
  .edge__title {
    margin-bottom: 15px;
  }
  .doctors__title-ser {
    margin-bottom: 20px;
  }
  .edge__items {
    gap: 13px 8px;
  }
  .edge--ser {
    margin-bottom: 10px;
  }
  .about__title  {
    margin-bottom: 20px;
  }
  .intro__item-text {
    font-size: 9px;
  }
  .intro__item {
    border-radius: 13px;
    padding: 13px;
  }
  .price__item--next {
    border-radius: 18.129px;
  }
  .price__item-text {
    font-size: 10px;
  }
  .edge__title {
    margin-bottom: 15px;
  }
  .edge__title--small {
    margin-bottom: 28px;
  }
  .edge__item {
    border-radius: 13.3649px;
    padding: 15px;
  }
  .edge__item-title {
    font-size: 16px;
  }
} 
