@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 300;
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 400;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 600;
  src: url(../fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 700;
  src: url(../fonts/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 900;
  src: url(../fonts/SourceSansPro-Black.ttf);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

:root{
  --accent-color: #006DFF; 
}

body {
  font-family: 'Source-Sans-Pro';
  font-weight: 600;
  font-size: 20px;
  overflow-x: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  color: #FFFFFF;
  background-color: #FFC000;
  cursor: pointer;
  border-radius: 38px;
  transition: all 0.3s;
}
.button:hover {
  opacity: 80%;
}

/* header */
.header {
  padding: 18px 0; 
  margin-bottom: 135px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__decor {
  position: absolute;
  left: 0;
  z-index: -2;
  top: 0;
  width: 73%;
}
.header__tel {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.header__mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 30px;
}
.logo__text {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  min-width: 245px;
}

/* menu */
.menu__list {
  display: flex;
  align-items: center; 
}
.menu__list-link {
  font-weight: 600;
  padding: 15px;
  font-size: 14px;
  line-height: 100%;
  white-space: nowrap;
  color: #FFFFFF;
  border-radius: 10px;
}
.menu__list-link:hover {
  background: rgba(255, 255, 255, 0.17);
}
.menu__list-link--color {
  color: var(--accent-color);
}

/* top */
.top {
  position: relative;
  margin-bottom: 131px;
}
.top__title {
  font-weight: 600;
  font-size: 67px;
  line-height: 105.2%;
  color: #FFFFFF;
  max-width: 690px;
  margin-bottom: 30px;
}
.top__title span {
  color: #FFC000;
}
.top__img {
  position: absolute;
  top: -120px;
  right: -35px;
  z-index: -1;
}
.top__btn {
  padding: 12px 24px;
  font-weight: 900;
  font-size: 31px;
  line-height: 39px;
}

/* services */
.services {
  margin-bottom: 38px;
}
.services__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 23px;
  row-gap: 40px;
}
.services__item--long {
  grid-column-start: 1;
  grid-column-end: 4;
}
.services__item--long2 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.services__item {
  background: #FFFFFF;
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36px;
  padding-top: 34px;
  position: relative;
  padding-left: 29px;
  height: 446px;
}
.services__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 105.2%;
  margin-bottom: 13px;
}
.services__btn{
  padding: 14px 32px;
  display: inline-block;
}
.services__img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.services__img--long {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: auto;
  right: 0;
  bottom: 0;
}








@media(max-width: 1850px) {
  .header__decor {
    width: 76%;
  }
}

@media(max-width: 1634px) {
  .header__decor {
    width: 77%;
  }
}

@media(max-width: 1500px) {
  .header__decor {
    width: 79%;
  }
}

@media(max-width: 1500px) {
  .header__decor {
    width: 79%;
  }
}