@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 300;
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 400;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 600;
  src: url(../fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 700;
  src: url(../fonts/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: 'Source-Sans-Pro';
  font-weight: 900;
  src: url(../fonts/SourceSansPro-Black.ttf);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

:root{
  --accent-color: #006DFF; 
}

body {
  font-family: 'Source-Sans-Pro';
  font-weight: 600;
  font-size: 20px;
  overflow-x: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  color: #FFFFFF;
  background-color: #FFC000;
  cursor: pointer;
  border-radius: 38px;
  transition: all 0.3s;
}
.button:hover {
  opacity: 80%;
}

.title {
  font-weight: 900;
  font-size: 130px;
  line-height: 105.2%;
  font-variant: small-caps;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

/* header */
.header {
  padding: 18px 0; 
  margin-bottom: 135px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__decor {
  position: absolute;
  left: 0;
  z-index: -2;
  top: 0;
  width: 73%;
}
.header__tel {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.header__mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 30px;
}
.logo__text {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  min-width: 245px;
}

/* menu */
.menu__list {
  display: flex;
  align-items: center; 
}
.menu__list-link {
  font-weight: 600;
  padding: 15px;
  font-size: 14px;
  line-height: 100%;
  white-space: nowrap;
  color: #FFFFFF;
  border-radius: 10px;
}
.menu__list-link:hover {
  background: rgba(255, 255, 255, 0.17);
}
.menu__list-link--color {
  color: var(--accent-color);
}

/* top */
.top {
  position: relative;
  margin-bottom: 131px;
}
.top__title {
  font-weight: 600;
  font-size: 67px;
  line-height: 105.2%;
  color: #FFFFFF;
  max-width: 690px;
  margin-bottom: 30px;
}
.top__title span {
  color: #FFC000;
}
.top__img {
  position: absolute;
  top: -120px;
  right: -35px;
  z-index: -1;
}
.top__btn {
  padding: 12px 24px;
  font-weight: 900;
  font-size: 31px;
  line-height: 39px;
}

/* services */
.services {
  margin-bottom: 38px;
}
.services__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 23px;
  row-gap: 40px;
}
.services__item--long {
  grid-column-start: 1;
  grid-column-end: 4;
}
.services__item--long2 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.services__item {
  background: #FFFFFF;
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36px;
  padding-top: 34px;
  position: relative;
  padding-left: 29px;
  height: 446px;
  overflow: hidden;
}
.services__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 105.2%;
  margin-bottom: 13px;
}
.services__btn{
  padding: 14px 32px;
  display: inline-block;
}
.services__img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.services__img--long {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: auto;
  right: 0;
  bottom: 0;
}


/* intro */
.intro {
  margin-bottom: 165px;
}
.intro__bg {
  background-color: var(--accent-color);
  border-radius: 36px;
  padding: 36px 29px;
  position: relative;
}
.intro__title {
  font-weight: 900;
  font-size: 49px;
  line-height: 105.2%;
  color: #FFFFFF;
  max-width: 398px;
}
.intro__title--big {
  font-size: 595px;
  letter-spacing: -0.04em;
  max-width: 1000px;
}
.intro__top {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  margin-top: -130px;
  margin-bottom: 260px;
}
.intro__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 258px 258px;
  gap: 25px;
}
.intro__item {
  background-color: #fff;
  box-shadow: 0px 0px 34.0254px rgba(47, 128, 237, 0.15);
  border-radius: 36px;
  padding: 36px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.intro__item-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.intro__item-text {
  max-width: 270px;
  font-weight: 600;
  font-size: 20px;
  max-width: 624px;
}
.intro__item--long {
  grid-column-start: 1;
  grid-column-end: 3;
}
.intro__decor {
  position: absolute;
  top: 250px;
  left: 168px;
}

/* price */
.price {
  margin-bottom: 144px;
}
.price__title {
  margin-bottom: 35px;
}
.price__items {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 450px 450px;
  gap: 24px;
}
.price__item {
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36px;
  padding: 34px 29px;
  position: relative;
  overflow: hidden;
}
.price__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.price__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 105.2%;
  margin-bottom: 23px;
}
.price__btn {
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  background-color: var(--accent-color);
  padding: 14px 33px;
}
.price__item--next {
  background: rgba(0, 109, 255, 0.15);
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36.55px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  justify-content: center;
}
.price__item-text {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 22px;
  line-height: 105.2%;
  padding: 30px;
  position: relative;
}
.price__item-text::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 2px;
  top: 66px;
  right: 53px;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: var(--accent-color);
}
.price__item-next:hover, .price__item-text:hover {
  opacity: 80%;
}


/* edge */
.edge {
  margin-bottom: 170px;
}
.edge__title {
  font-size: 130px;
  line-height: 105.2%;
}
.edge__title--small {
  font-size: 80px;
  line-height: 105.2%;
  margin-bottom: 49px;
}
.edge__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 525px 525px;
  gap: 22px;
}
.edge__item {
  box-shadow: 0px 0px 33.8897px rgba(47, 128, 237, 0.15);
  border-radius: 36.4314px;
  overflow: hidden;
  position: relative;
  padding: 45px;
}
.edge__item-img {
  position: absolute;
  right: 0;
  bottom: -10px;
}
.edge__item-title {
  font-size: 44.0566px;
  line-height: 90.2%;
  font-weight: 600;
  margin-bottom: 15px;
}


/* about */
.about {
  margin-bottom: 170px;
}
.about__title {
  margin-bottom: 49px;
}


/* doctors */
.doctors {
  margin-bottom: 224px;
}
.doctors__title {
  margin-bottom: 36px;
}
.doctors__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 445px 445px;
  gap: 49px 22px;
}
.doctors__item {
  box-shadow: 0px 0px 34px rgba(47, 128, 237, 0.15);
  border-radius: 36.55px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}
.doctors__item-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.doctors__item-content {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 33.7612px rgba(47, 128, 237, 0.15);
  border-radius: 36.2933px;
  padding: 31px 24px;
  z-index: 3;
  height: 260px;
}
.doctors__item-title {
  font-size: 27.009px;
  line-height: 90.2%;
  margin-bottom: 15px;
}
.doctors__list {
  padding-left: 30px;
}
.doctors__list-item {
  font-size: 17.7246px;
  line-height: 17px;
}
.doctors__item--show {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 25px;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 33.7612px rgba(47, 128, 237, 0.15);
  border-radius: 36.2933px;
}
.doctors__item-text {
  font-size: 27.009px;
  line-height: 90.2%;
  color: #fff;
}
.doctors__item-link {
  font-weight: 300;
  font-size: 27.009px;
  line-height: 90.2%;
  text-decoration-line: underline;
  color: #FFFFFF;
}


/* licenses */
.licenses {
  margin-bottom: 232px;
}
.licenses__title {
  margin-bottom: 58px;
}
.licenses__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 39px;
  
}
.licenses__item {
  background: #D2D2D2;
  width: 351px;
  height: 233px;
}

/* reviews */
.reviews {
  margin-bottom: 190px;
}
.reviews__title {
  font-size: 130px;
  line-height: 105.2%;
}
.reviews__title--small {
  font-size: 78px;
  line-height: 105.2%;
  margin-bottom: 49px;
}
.reviews__items {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 50px;
}
.reviews__item2 {
  align-self: center;
}
.reviews__item3 {
  align-self: flex-end;
}
.reviews__item-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 90.2%;
  margin-bottom: 16px;
}
.reviews__item-day {
  font-weight: 300;
  font-size: 22px;
  line-height: 90.2%;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 49px;
}
.reviews__item-text {
  font-weight: 400;
  font-size: 21.8528px;
  line-height: 120%;
  background: #006DFF;
  border-radius: 20.1718px 20.1718px 20.1718px 0px;
  padding: 16px 23px;
  color: #fff;
}
.reviews__item-text--1 {
  max-width: 650px;
}
.reviews__item-text--2 {
  background: #FFC100;
  color: #000;
  max-width: 729px;
}
.reviews__item-text--3 {
  max-width: 595px;
  padding-right: 60px;
}
.reviews__dog {
  position: absolute;
  right: 0;
  z-index: -2;
}
.reviews__cat {
  position: absolute;
  top: 320px;
  left: -120px;
}


/* form */
.consultation {
  margin-bottom: 180px;
}
.container__inner {
  background: #FFFFFF;
  box-shadow: 0px 0px 33.7864px rgba(47, 128, 237, 0.15);
  border-radius: 36.3204px;
  padding: 64px 40px 70px;
  position: relative;
  overflow: hidden ;
}
.consultation__title {
  font-weight: 900;
  font-size: 28.7184px;
  line-height: 105.2%;
  color: var(--accent-color);
  margin-bottom: 49px;
}
.form__input {
  display: block;
  filter: drop-shadow(0px 0px 33.7864px rgba(47, 128, 237, 0.15));
  background: #FFFFFF;
  border-radius: 5.06796px;
  border: none;
  margin-bottom: 10px;
  padding: 11px 13px;
  color: #4F4F4F;
  font-weight: 500;
  width: 398px;
  font-size: 11.8252px;
  line-height: 17px;
}
.form__btn {
  border: none;
  background-color: var(--accent-color);
  font-weight: 900;
  font-size: 16.8932px;
  line-height: 21px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 17px;
}
.consultation__text {
  font-weight: 400;
  font-size: 20.2718px;
  line-height: 105.2%;
  color: var(--accent-color);
}
.consultation__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 86%;
}
.consultation__img-2 {
  position: absolute;

  right: 0;
  bottom: -14px;
}

/* contacts */
.contacts__title {
  margin-bottom: 49px;
}
.contacts__top {
  font-weight: 900;
  font-size: 58px;
  line-height: 105.2%;
  color: #B0D2FF;
  margin-bottom: 49px;
} 
.contacts__bottom {
  font-weight: 900;
  font-size: 80px;
  line-height: 105.2%;
  color: #000000;
  display: block;
  margin-bottom: 49px;
}
.contacts__map {
  box-shadow: 0px 0px 33.9955px rgba(47, 128, 237, 0.15);
  border-radius: 36.5452px;
  margin-bottom: 68px;
}
.contacts__bottom--under {
  text-decoration: underline;
}

@media(max-width: 1850px) {
  .header__decor {
    width: 76%;
  }
}

@media(max-width: 1634px) {
  .header__decor {
    width: 77%;
  }
}

@media(max-width: 1500px) {
  .header__decor {
    width: 79%;
  }
}

@media(max-width: 1500px) {
  .header__decor {
    width: 79%;
  }
}